@import "../variables";
@import "../header/variables";

.container {
  max-width: $container_maxWidth;
  width: 100%;
  padding: $container_padding;
  height: calc(100vh - #{$header_height});
  overflow: auto;
}