@import "../variables";
@import "../header/variables";

.container {
  &.-outer {
    width: 100%;
    height: 100%;
    overflow: auto;
    overscroll-behavior: none;
  }

  &.-inner {
    max-width: $container_maxWidth;
    width: 100%;
    padding: $container_padding;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-height: 100%;

    > :last-child {
      margin-bottom: 0;
    }
  }
}