@import "../variables";
@import "../typography";

.scriptRunner {
  &_editor {
    margin-left: -$container_horizontalMargin;
    margin-right: -$container_horizontalMargin;
    margin-bottom: $container_verticalMargin;
  }

  &_output {
    background-color: rgba(#424242, 0.5);
    border-radius: $container_borderRadius;
    padding: $container_padding;
    overflow: hidden;

    > :last-child {
      margin-bottom: 0;
    }

    &Title {
      @extend %heading-6;
    }
  }
}

.scriptRunner_editor .CodeMirror {
  height: (100vh / 3);
  font-family: Fira Code, $fontFamily;
  background-color: rgba($theme_textColor, 0.025);
  color: $theme_textColor;

  &-gutters {
    background-color:#2d2d2d;
    border-right: none;
  }

  &-linenumber {
    color: rgba($theme_secondaryColor, 0.54 / 2);
  }

  &-cursor {
    border-left: 2px solid $theme_accentColor;
  }

  &-focused .CodeMirror-selected {
    background-color: rgba($theme_textColor, 0.05);
  }

  &-selected {
    background-color: rgba($theme_textColor, 0.025);
  }

  &.cm-s-default .cm {
    &-keyword {
      color: #607d8b;
    }

    &-string,
    &-string-2 {
      color: #4caf50;
    }

    &-variable,
    &-variable-2,
    &-def {
      color: #e0e0e0;
    }

    &-property {
      color: #009688;
    }

    &-meta,
    &-operator {
      color: #9e9e9e;
    }

    &-comment {
      color: #616161;
    }

    &-number {
      color: #ffc107;
    }

    &-atom {
      color: #2196f3;
    }
  }
}