@import "./variables";
@import "../mixins/shadow";

.header {
  @include shadow(4);

  height: $header_height;
  width: 100vw;
  background-color: $header_background;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
