@import "../variable/variables";
@import "./variables";
@import "../variables";

.variables {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: $variables_gap;
  margin-bottom: $container_verticalMargin;
  width: 100%;

  @media (min-width: $variables_twoColumsMinWidth) {
    grid-template-columns: repeat(2, 1fr);
  }
}
