@import "../mixins/shadow";
@import "../typography";
@import "../variables";
@import "./variables";

.dialogContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($shadowColor, .5);
  z-index: 2;

  &:empty {
    display: none;
  }

  @media (min-width: $container_maxWidth) {
    align-items: center;
    padding: $container_padding;
  }
}

.dialog {
  @include shadow(24);
  padding: $container_padding;
  background-color: $theme_backgroundColor;
  width: 100%;
  max-width: $dialog_maxWidth;
  border-top-left-radius: $container_borderRadius;
  border-top-right-radius: $container_borderRadius;

  @media (min-width: $container_maxWidth) {
    border-radius: $container_borderRadius;
  }

  &_title.heading { // so it's higher than just .heading
    @extend %heading-5;
  }

  &_buttons {
    margin-top: $dialogButtons_padding;
    margin-left: -$container_horizontalMargin;
    margin-right: -$container_horizontalMargin;
    margin-bottom: -$container_verticalMargin;
    padding: $dialogButtons_padding;
    flex-direction: row-reverse;

    .button {
      background-color: transparent;
      color: $theme_accentColor;
      box-shadow: none !important;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-right: $container_horizontalMargin;
      }

      &:first-child {
        margin-right: 0;
      }
    }
  }
}