@import "./variables";
@import "../variables";
@import "../mixins/hoverShade";
@import "../typography";

.tabs {
  height: $tabs_height;
  display: flex;
  margin-bottom: $container_verticalMargin;
  overflow-y: hidden;
  overflow-x: auto;
}

.tab {
  @extend %subtitle-1;
  @include hoverShade($tabs_color);

  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: $tabs_color;
  padding: 0 $tabs_horizontalPadding;
  font-family: inherit;
  white-space: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  opacity: .5;
  transition-property: opacity;
  transition-duration: $transitionDuration;

  &::before {
    content: "";
    width: 100%;
    height: $activeLine_height;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $theme_accentColor;
    transform: scaleY(0);
    transform-origin: bottom;
    transition-property: transform;
    transition-duration: $transitionDuration;
    border-top-left-radius: $activeLine_height;
    border-top-right-radius: $activeLine_height;
  }

  &.-active {
    opacity: 1;

    &::before {
      transform: scaleY(1);
    }
  }
}
