@import "../variables";
@import "./variables";
@import "../typography";

.fieldContainer {
  flex-grow: 1;
}

.field {
  background-color: transparent;
  border-radius: $container_borderRadius;
  border: 1px solid rgba($theme_textColor, 0.1);
  color: $theme_textColor;
  font: inherit;
  display: block;
  padding: $field_padding;
  caret-color: $theme_accentColor;
  transition-property: border-color;
  transition-duration: $transitionDuration;
  margin: 0 0 $input_bottomMargin;
  width: 100%;

  &:focus {
    border-color: $theme_accentColor;
  }
}

.label {
  @extend %caption;

  display: block;
  color: $theme_secondaryColor;
  margin: 0 0 $label_bottomMargin;
}