@import "../variables";
@import "../header/styles";
@import "../mixins/square";

$logo_size: $header_height / 2;
$logo_color: $theme_textColor;

.logo {
  @include square($logo_size);
  fill: $logo_color;
  margin-right: $header_horizontalGap;
  flex-shrink: 0;
}