.spinner {
  border-radius: 0.5em;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 0.15em solid currentColor;
  border-top-color: transparent;
  animation-name: rotation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
