@import "./variables";
@import "../typography";
@import "../mixins/shadow";
@import "../mixins/hover-shade";
@import "../mixins/square";

.button {
  @extend %button;
  @include shadow(2);
  @include hoverShade($button_textColor);

  background-color: $button_background;
  color: $button_textColor;
  border-radius: $container_borderRadius;
  border: none;
  transition-property: box-shadow;
  transition-duration: $transitionDuration;
  font-family: inherit;
  padding: $button_verticalPadding $button_horizontalPadding;
  margin: 0;
  user-select: none;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  line-height: inherit;

  &:disabled {
    opacity: $button_disabledOpacity;

    &:hover::after {
      content: none;
    }
  }

  &:active {
    @include shadow(8);
  }

  &.-dangerous {
    background-color: $button_backround-dangerous;
  }

  &.-floating {
    @include square($button-floating_size);
    position: fixed;
    bottom: $button-floating_sidesDistance;
    right: $button-floating_sidesDistance;
    border-radius: $button-floating_size / 2;
    background-size: $button-floating_size / 2;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }
}