@import "./variables";
@import "../typography";
@import "../mixins/shadow";
@import "../mixins/hover-shade";

.button {
  @extend %button;
  @include shadow(2);
  @include hoverShade($button_textColor);

  background-color: $button_background;
  color: $button_textColor;
  border-radius: $container_borderRadius;
  border: none;
  transition-property: box-shadow;
  transition-duration: $transitionDuration;
  font-family: inherit;
  height: $button_height;
  padding: 0 $button_horizontalPadding;
  margin: 0;
  user-select: none;

  &:active {
    @include shadow(8);
  }

  &.-dangerous {
    background-color: $button_backround-dangerous;
  }
}