@import "../variables";

$button_background: $theme_accentColor;
$button_textColor: $theme_textColor;
$button_horizontalPadding: 16px;
$button_verticalPadding: 12px;

$button_backround-dangerous: #f44336;

$button-floating_size: 56px;
$button-floating_sidesDistance: 24px;

$button_disabledOpacity: 0.54;