@import "../variables";

@mixin hoverShade($color, $changePosition: true) {
  @if ($changePosition == true) {
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: $color;
    opacity: 0;
    transition-property: opacity;
    transition-duration: $transitionDuration;
  }

  &:focus,
  &:hover {
    &::after {
      opacity: (1 / 4);
    }
  }

  &:active {
    &::after {
      opacity: (2 / 4);
    }
  }
}