@import "./variables";
@import "./typography";

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  @extend %body-1;

  background-color: $theme_backgroundColor;
  color: $theme_textColor;
  font-family: $fontFamily;
  margin: 0;
  line-height: 1.5;
  cursor: default;

  > pre {
    max-width: 100vw;
    overflow: auto;
    height: 100vh;
    margin: 0;
    padding: $container_padding;
  }
}

::selection {
  color: inherit;
  background: rgba($theme_textColor, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.paragraph {
  margin: 0;
  margin-bottom: 24px;
}

noscript {
  @extend %heading-6;

  margin: auto;
  text-align: center;
  max-width: $container_maxWidth;
  padding: $container_padding;
}