@import "./variables";
@import "./typography";

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  @extend %body-1;

  background-color: $theme_backgroundColor;
  color: $theme_textColor;
  font-family: $fontFamily;
  margin: 0;
  line-height: 1.5;
  cursor: default;

  > pre {
    max-width: 100vw;
    overflow: auto;
    height: 100vh;
    margin: 0;
    padding: $container_padding;
  }
}

::selection {
  color: inherit;
  background: rgba($theme_textColor, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title {
  @extend %heading-2;
  margin: 0;
  margin-bottom: 24px;
}

.paragraph {
  margin: 0 0 0;
  margin-bottom: 24px;
}

.link {
  color: $theme_accentColor;
  text-decoration: none;
  border-bottom: 1px solid rgba($theme_accentColor, 0.25);
  transition-property: border-bottom-color, opacity;
  transition-duration: $transitionDuration;

  &:focus,
  &:hover {
    border-bottom-color: rgba($theme_accentColor, 0.75);
  }

  &:active {
    opacity: .5;
  }

  &.-white {
    color: #fff;
    border-bottom-color: rgba(#fff, 0.25);

    &:focus,
    &:hover {
      border-bottom-color: rgba(#fff, 0.75);
    }
  }
}

noscript {
  @extend %heading-6;

  margin: auto;
  text-align: center;
  max-width: $container_maxWidth;
  padding: $container_padding;
}