$theme_backgroundColor: #212121;
$theme_textColor: rgba(#ffffff, 0.87);
$theme_secondaryColor: rgba($theme_textColor, 0.54);
$theme_accentColor: #607d8b;
$theme_errorColor: #f44336;

$container_maxWidth: 960px;
$container_padding: 24px 16px;
$container_padding-negated: -24px -16px;
$container_borderRadius: 5px;
$container_verticalMargin: 24px;
$container_horizontalMargin: 16px;

$transitionDuration: 300ms;

$fontFamily: Roboto Mono, Lucida Consolas, monospace;
