@import "../variables";
@import "../tabs/variables";
@import "../header-tabs/variables";
@import "../mixins/hover-shade";
@import "../typography";

.headerTab {
  &.tab {
    flex-grow: 0;
  }

  &_title {
    @extend %subtitle-1;
  }
}