@import "../variables";
@import "../typography";

.variableEditor {
  &_title {
    @extend %heading-5;
    word-break: break-all;
  }

  &_hexField {
    grid-column: span 2;

    &:only-child {
      grid-column: span 3;
    }
  }

  &_fields {
    grid-template-columns: repeat(3, 1fr);
  }

  &_tabs {
    margin-left: -$container_horizontalMargin;
    margin-right: -$container_horizontalMargin;
  }

  &_buttons {
    .button {
      flex-grow: 1;
    }
  }
}
